.search-bar {
    margin: 20px;
    text-align: left;
}

.search-bar input {
    width: 25%;
}

.vidSearchLbl {
    padding-right: 10px;
    font-family: sans-serif;
    color: orange;
    font-size: 20px;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid orange;
    border-radius: 4px;
}